.footer {
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__copy {
  font-family: "Inter";
  line-height: 21.78px;
  font-weight: 400;
  color: #545454;
  font-size: 18px;
  width: 318px;
  height: 18px;
  margin: 0;
}

@media screen and (max-width: 320) {
  .footer__copy {
    font-size: 14px;
    line-height: 1.3;
  }
}
